@font-face {
  font-family: "iconfont"; /* Project id 3014613 */
  src: url('iconfont.woff2?t=1639475550109') format('woff2'),
       url('iconfont.woff?t=1639475550109') format('woff'),
       url('iconfont.ttf?t=1639475550109') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-xinxi:before {
  content: "\e607";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-31dingwei:before {
  content: "\e600";
}

.icon-gongju:before {
  content: "\e614";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-icon--:before {
  content: "\e790";
}

